body .home-page{
    background-color: #BEC5FF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 999; 
    overflow: auto; 

    section{
        margin-top: 3rem;
        margin-bottom: 4.48rem;


        .superior{
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            align-items: center;
        h1{
            text-align: center;
            font-size: 2.5rem;
            }
            p{
            text-align: center;
            font-size: 2rem;
            }
        }
      }
  }